body{
    background-color:black;
    color:white; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}
.lefty{ 
    border:2px solid white; 
    height:300px; 
    width:150px; 
    display:block; 
    border-radius: 12px; 
    text-align:center;
    display:none;
}
input{
    background-color:black; 
    color:white; 
    width:150px; 
    border-radius: 12px; 
    padding:10px; 
    transition-duration: 0.4s;
    margin-bottom:5px;
}
fieldset{
    text-align:center;
}
.button:hover {
    background-color: gray;
    /* Green */ color: silver;
}
.small{
    font-size:20px; 
    color:rgb(255,215,0);
}
.cents,h1{
    text-align:center;
    font-size: 72px;
}
.navs{
    display: flex;
    /* flex-flow: row; */
    /* min-height: 100vh; */
    /* flex-wrap:nowrap; */
}				
#myNavs{
    position:absolute;
    top:250px;
    left:10px;
    text-align:center;
    font-size: 25px;
    display:none;
}			